<!doctype html>
<html lang="en-us">

<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Hive testnet faucet</title>
    <meta name="description" content="">

    <!-- The compiled CSS file -->
    <link rel="stylesheet" href="css/production.css">

    <!-- Web fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet">

    <!-- favicon.ico. Place these in the root directory. -->
    <link rel="shortcut icon" href="favicon.ico">

</head>

<body class="has-animations">


<!-- Header -->
<header class="align--center pt3">
    <div class="container--lg border--bottom pb3">
        <h1 class="mb2">Hive testnet faucet & informations</h1>
        <img class="logo mb3 reveal-on-scroll is-revealing" src="/img/logo.svg" alt="Carta">
    </div>
</header>

<main>
    {{{body}}}
</main>

<!-- Scroll reveal -->
<script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>

<!-- The compiled JavaScript file -->
<script src="js/production.js"></script>

</body>
</html>

