
<div class="overlay"></div>
<video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="mp4/bg.mp4" type="video/mp4">
</video>

<div class="masthead">
    <div class="masthead-bg"></div>
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <div class="masthead-content text-white py-5 py-md-0">
                    <h1 class="mb-3">Steem Testnet faucet</h1>
                    <p class="mb-5">This website allows you to claim testnet tokens. Keep in mind that those tokens are
                        <strong>worthless</strong>! They are only here for testing purposes <br/>
                    Input your username and you will recieve 10 TESTS (equivalent of STEEM)
                    </p>
                    <div class="input-group input-group-newsletter">
                        <input type="text" class="form-control" name="username" placeholder="Enter Steem username..." aria-label="Enter Steem username..." aria-describedby="basic-addon">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">Send tokens</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

